<h1>Policies</h1>
<hr>
<h2>Grading Scale</h2>
Below you will find the percents needed to get your desired grade. <br> <br>
<div class="table-responsive">
    <table class="table">
        <tr>
            <td>Letter Grade</td>
            <td *ngFor="let gradeCutOff of this.config.gradingScale">{{gradeCutOff.grade}}</td>
        </tr>
        <tr>
            <td>Needed Percent</td>
            <td *ngFor="let gradeCutOff of this.config.gradingScale">
                {{gradeCutOff.minPercent}}-{{gradeCutOff.maxPercent}}</td>
        </tr>
    </table>
</div>


<div *ngFor="let policy of this.config.policies">
    <br>
    <h2>{{policy.title}}</h2>
    <span [innerHtml]="policy.body"></span>

</div>