:root {
    --backgroundColor: #FFFFFF;
    --lightContrastColor: #E0E0E0;
    --darkContrastColor: rgb(80, 80, 80);
    --foregroundColor: black;
    --primaryColor: #003366;
    --primaryColor1: #15457d;
    --primaryColor2: #456595;
    --primaryTextColor: #FFFFFF
}

.background-primary {
    background-color: var(--primaryColor);
    color: var(--primaryTextColor)
}

body {
    background-color: var(--lightContrastColor);
    height: 100%;
}

.btn-byu {
    color: var(--primaryTextColor);
    background-color: var(--primaryColor1)
}

.btn-byu:hover {
    color: var(--primaryTextColor);
    background-color: var(--primaryColor)
}

.content {
    margin-top: 20px;
    background-color: var(--backgroundColor);
    height: auto;
    padding: 30px
}

.content div {
    height: auto;
}