<h1>Schedule</h1>
<hr>
<p>On this page you can find links to the resources for each class this semester.</p>
<br>
<div *ngFor="let class of config.classValues">
  <span class="float-right">{{class.date | date}}</span>
  <h2>{{class.title}}</h2>
  <p></p>
  <table class="table table-hover" *ngIf="class.resources.length > 0">
    <thead>
      <th>Resource</th>
      <th></th>
    </thead>
    <tbody id="table_body">
      <tr *ngFor="let resource of class.resources">
        <td>{{resource.title}}</td>
        <td *ngIf="this.isDownloadable(resource)">
          <a type="button" class="btn btn-byu float-right" href="{{this.config.resourceFilePath + resource.link}}">
            Download
          </a>
        </td>
        <td *ngIf="!this.isDownloadable(resource)">
          <button type="button" class="btn btn-byu float-right disabled"
            title="Not avaliable until {{resource.avaliableDate | date}}">
            Not Avaliable
        </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
</div>