/* You can add global styles to this file, and also import other style files */
:root {
    --backgroundColor: #FFFFFF;
    --lightContrastColor: #E0E0E0;
    --darkContrastColor: rgb(80, 80, 80);
    --foregroundColor: black;

    --primaryColor: #003366;
    --primaryColor1: #15457d;
    --primaryColor2: #456595;
    --primaryTextColor: #FFFFFF
}

.background-primary{
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
}

body {
    background-color: var(--lightContrastColor);
}